@using Czat.Models.Rozmowa
@model IEnumerable<Lista>

<div class="nowaRozmowa">
    @Html.ActionLink("Nowa rozmowa", "Nowa")
</div>

@foreach (Lista lista in Model)
{
    <div class="rozmowa">
        <div class="wiersz">
            <div class="autor">@Html.DisplayFor(z => lista.NazwaZnajomego)</div>
            <div class="data dataLista">@Html.DisplayFor(a => lista.OstatniaAktywnosc)</div>
        </div>
        <div class="tresc trescLista">
            @Html.DisplayFor(s => lista.Skrot)
            @*@Html.DisplayFor(n => lista.NoweWiadomości)*@
        </div>
        <a href="/Rozmowa/Przegladaj/@lista.IdRozmowy"><span></span></a>
    </div>
}