@model Czat.Models.Rozmowa.Nowa

@{
    ViewBag.Title = "Nowa rozmowa";
    Layout = "~/Views/_Szablon.cshtml";
}

@section Naglowek
{
    <h3>Nowa rozmowa</h3>
}

@using (@Html.BeginForm())
{
    @Html.LabelFor(i => i.IdWybranegoUzytkownika)
    @Html.DropDownListFor(i => i.IdWybranegoUzytkownika, Model.DaneUzytkownikow)
    <input type="submit" value="Rozpocznij" />
}