@{
    ViewBag.Title = "Nowa rozmowa";
    Layout = "~/Views/_Szablon.cshtml";
}

@section Naglowek
{
    <h2>Nowa rozmowa</h2>
}

<script>
    function szukaj() {
        var nazwa = document.getElementById("nazwa");
        var zawartosc = nazwa.value;
        var uzytkownicy = document.getElementById("uzytkownicy");

        if (zawartosc.length < 1) {
            uzytkownicy.innerHTML = "";
        } else {
            $.ajax(
            {
                url: "/Rozmowa/SzukajUzytkownikow/",
                method: "POST",
                data: {
                    napis: zawartosc
                },
                success: function (dane) {
                    pokazWyniki(dane);
                }
            });
        }
    }

    function pokazWyniki(dane) {
        var wynik;

        if (dane.length === 0)
            wynik = "Brak użytkowników.";
        else
            wynik = dane;

        var uzytkownicy = document.getElementById("uzytkownicy");
        uzytkownicy.innerHTML = wynik;
    }
</script>

<div id="wyszukiwanie">
    <label for="nazwa">Nazwa użytkownika</label>
    <input id="nazwa" type="text" maxlength="10" onkeyup="szukaj()" />
    <div id="uzytkownicy"></div>
</div>

@section Stopka
{}

