@{
    ViewBag.Title = "Czat";
    Layout = "~/Views/_Szablon.cshtml";
}

@section Naglowek
{
    
}

<div id="powitanie">Wybierz jedną z istniejących rozmów lub rozpocznij nową.</div>


@section Stopka
{}
