.columns {
    display: table-row;
}

.column {
    display: table-cell;
}

input[type=radio] {
    display: none;
}

label {
    border: solid 1px;
    width: inherit;
    display: inline-block;
    padding: 1px;
    padding-left: 15px;
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-position-y: center;
}

input[type="radio"]:checked + label {
    background-color: indianred;
}

label:hover {
    background-color: lightgray;
    cursor: pointer;
}

.listOfCubes label {
    background-image: url('/Images/cube.png');
}

.listOfDimensions label {
    background-image: url('/Images/dimension.png');
}

.treeView a {
    text-decoration: none;
    color: black;
}

.treeView a:hover {
    color: indianred;
}

.tableOfResults td {
    vertical-align: middle;
    position: relative;
}

.tableOfResults td:hover {
    background-color: lightgray;
}

.buttonInsideTableOfResults {
    background-image: url('/Images/button.png');
    border-width: 0px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.tableOfResults td:hover .buttonInsideTableOfResults {
    background-image: url('/Images/hoveredButton.png');
}

#placeOfUpdateProgress {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
    pointer-events: none;
}