html, body {
    height: 100%;
    margin: 0;
    font-family: Tahoma;
    font-size: 12px;
}

a, a:visited {
    text-decoration: none;
    color: rgb(59, 89, 152);
}

    a:hover {
        text-decoration: underline;
    }

textarea {
    margin: 10px 10px 10px 310px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
    overflow: hidden;
}

h2 {
    margin-top: 70px;
}

#formularz {
    margin: 0 auto;
    display: table;
}

    #formularz h2 {
        text-align: center;
    }

    #formularz div {
        padding: 10px;
    }

.lewaKolumna {
    float: left;
}

.editor-field {
    text-align: right;
}

#przyciskLogowania {
    text-align: center;
}

#powitanie {
    margin: 0 auto;
    display: table;
}

#strona {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 100%;
}

header {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: hidden;
}

#pojemnikZawartosci {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
}

footer {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: rgb(247, 247, 247);
}

#kolumny {
    width: 100%;
    height: 100%;
}

.kolumna {
    height: 100%;
}

#kolumna1 {
    float: left;
    max-width: 80%;
    width: 300px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
}

    #kolumna1 .zawartosc {
        height: inherit;
        display: inline-block;
        overflow-y: auto;
        padding: 10px;
    }

#kolumna2 .zawartosc {
    height: inherit;
    overflow-y: auto;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px 1px 1px 0;
}

#oknoRozmowy {
    padding: 10px;
}

.wypowiedz {
    padding: 5px 0 5px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);
}

.tabela {
    display: table;
}

.wiersz {
    display: table-row;
}

.autor {
    font-weight: bold;
    display: table-cell;
}

.data {
    text-align: right;
    color: rgb(193, 193, 193);
    display: table-cell;
    width: 100%;
    font-size: 10px;
}

.dataLista {
    color: rgb(127, 127, 127);
}

.tresc {
    padding: 5px 0 5px 0;
    word-wrap: break-word;
}

.trescLista {
    color: rgb(193, 193, 193);
    display: table-cell;
    white-space: nowrap;
}

.liczbaNowych {
    display: table-cell;
    text-align: right;
    color: rgb(137, 155, 193);
    font-size: 10px;
    width: 100%;
}

.pseudoLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.rozmowa, .nowaRozmowa, .rozmowaZNieprzeczytanymi {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);
    position: relative;
}

    .rozmowa:hover {
        background-color: rgb(245, 247, 250);
    }

.rozmowaZNieprzeczytanymi {
    background-color: rgb(235, 238, 244);
}

#wylogowanie {
    position: absolute;
    right: 5px;
    top: 75px;
}
