#header {
    text-align: center;
}

#menu {
    position: absolute;
}

    #menu a, #mainContent a {
        text-decoration: none;
        color: forestgreen;
    }

        #menu a:hover, #mainContent a:hover {
            text-decoration: underline;
        }

#mainContent {
    margin-left: 250px;    
}

    #mainContent h2 {
            text-align: center;
    }