<?xml version="1.0"?>
<configuration>
  <!-- Register a new config section-->
  <configSections>
    <section name ="IsMobile" type="IsMobileSection"/>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <pages theme="Standard" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0"/>
    <globalization uiCulture="en-US" />
  </system.web>
  <IsMobile>
    <Mobile></Mobile>
  </IsMobile>
</configuration>