<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Zalogowany jako: @User.Identity.Name @Html.ActionLink("Wyloguj", "Wylogowanie", "Uzytkownik")</div>
    <table>
        <tr>
            <td>@{ Html.RenderAction("Lista", "Rozmowa"); }</td>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>
